

#login-container h2,
#login-container button,
#login-container form{
    width: 100%;
}

#login-container button{
    margin-top: 15px;
}

#login-container .form-label{
    float:left;
}
#login-form

.boton-iniciarSesion{
    background-color:#e47611;
}

#logo{
    height: 50px;
    margin-bottom: 10px;
}